<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjh.mapper.BlogMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into blog (user_id, shop_id, likes, title, content, images, create_time, update_time)
        values (#{userId}, #{shopId}, #{likes}, #{title}, #{content}, #{images}, #{createTime}, #{updateTime})
    </insert>
    <select id="getBlogListFollowing" resultType="com.wjh.vo.BlogVO">
        select b.*, u.name as userName, u.image as userImage, s.name as shopName
        from blog b, user u, shop s
        where b.user_id in
        <foreach collection="followers" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
        and b.user_id = u.id and b.shop_id = s.id
        order by b.create_time desc
    </select>
    <select id="getBlogListAll" resultType="com.wjh.vo.BlogVO">
        select b.*, u.name as userName, u.image as userImage, s.name as shopName
        from blog b, user u, shop s
        where b.user_id = u.id and b.shop_id = s.id
        order by b.create_time desc
    </select>
</mapper>