<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjh.mapper.VoucherMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into voucher (shop_id, price, value, begin_time, end_time, stock)
        values (#{shopId}, #{price}, #{value}, #{beginTime}, #{endTime}, #{stock})
    </insert>
</mapper>